<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Partners</title>
</head>

<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>TVGCI</h2>
        <ul>
            <li><a href="intro"></i>Intro</a></li>
            <li><a href="partner"></i>Partners</a></li>
            <li><a href="team"></i>Meet the Team</a></li>
            <li><a href="showcase"></i>Showcase</a></li>
            <li><a href="review"></i>Review</a></li>
            <li><a href="contact"></i>Contact</a></li>
        </ul>
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
        </div>
    <div class="main_content">
        <div class="header">Here's all the cabinet companies that we have been closely working with</div>
        <div class="info">
            <div class="hck">
              <div>
                  <a href="https://harbourcitykitchens.com/" target="_blank">
                  <img src="/static/image/partner/hck.jpg">
                  </a>
              </div></div>
            <div class="cabico">
              <div>
                  <a href="https://www.coastcabinets.ca/" target="_blank">
                  <img src="/static/image/partner/coast.jpg">
                  </a>
              </div>
              </div>
            <div class="ceanesse">
              <div>
                  <a href="http://www.ceanesse.com/" target="_blank">
                  <img src="/static/image/partner/ceanesse.jpg">
                  </a>
              </div>
          </div>
            <div class="tkt">
              <div>
                  <a href="https://www.thekitchentechnician.ca/" target="_blank">
                  <img src="/static/image/partner/tkt.jpg">
                  </a>
              </div>
              </div>

        </div>
    </div>
</div>
</body>
</html>