<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Meat the Team</title>
</head>

<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>TVGCI</h2>
        <ul>
            <li><a href="intro"></i>Introduction</a></li>
            <li><a href="partner"></i>Partners</a></li>
            <li><a href="team"></i>Meet the Team</a></li>
            <li><a href="showcase"></i>Showcase</a></li>
{#            <li><a href="review"></i>Review</a></li>#}
            <li><a href="contact"></i>Contact</a></li>
        </ul>
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
        </div>
    <div class="main_content">
        <div class="header">Meat the Team</div>
        <div class="info">
            <div>Will Ni</div>
            <div>Bruce Liu</div>
            <div>Tony Liu</div>
      </div>
    </div>
</div>
</body>
</html>